{% extends 'base.html.twig' %}

{% block title %}Anim'Avord{% endblock %}

{% block body %}
    <script src="/assets/script.js" async></script>

    <style>
        .normal{font-size: 18px;}
        .bandeaubleu{background-color:lightblue;align-items:center;}
        .fond1{display:flex;background-color:lightyellow;text-align:justify;}
        .fond2{display:flex;background-color:lightgreen;text-align:justify;}
        .fond2b{display:flex;background-color:lightgreen;text-align:justify;justify-content:space-around;}
        .fond3{display:flex;background-color:lightgrey;text-align:justify;}
        .gras{font-weight:bold;font-size:18px;}
        .grassouligne{font-weight:bold;font-size:18px;text-decoration:underline;}
        .box{margin-right:500px;text-align:justify;}
        .boxacceuil{width:450px;padding-bottom:20px;}
        .grasgrand{font-weight:bold;font-size:30px;text-decoration:underline;}
        .basdepage{font-weight:bold;text-align:center;font-size:20px;}
        .fondnoir{display:flex;justify-content:center;flex-direction:column;}

        /*Le slideshow*/

        /* Slideshow container */
        .slideshow-container {
            width:1000px;
            position:relative;
            margin:auto;
            background-color:#795548;
        }

        /* Hide the images by default */
        .mySlides {
            display: none;
        }

        /* Next & previous buttons */
        .prev, .next {
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;
            margin-top: -22px;
            padding: 16px;
            color: white;
            font-weight: bold;
            font-size: 18px;
            transition: 0.6s ease;
            border-radius: 0 3px 3px 0;
            user-select: none;
        }

        /* Position the "next button" to the right */
        .next {
        right: 0;
        border-radius: 3px 0 0 3px;
        }

        /* On hover, add a black background color with a little bit see-through */
        .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
        }

        /* The dots/bullets/indicators */
        .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
        }

        .active, .dot:hover {
        background-color: #717171;
        }

        /* Fading animation */
        .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
        }

        @-webkit-keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
        }

        @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
        }
    </style>


    <h1 class="bandeaubleu">
        <ul class="nav">
            <li class="nav-item"><a class="nav-link" href="/">Accueil</a></li>
            <li class="nav-item"><a class="nav-link" href="/evenement/list">Evènements</a></li>
            <li class="nav-item"><a class="nav-link" href="/decoration/list">Décorations</a></li>
            <li class="nav-item"><img src={{asset('Pics/large.png')}} height="100" width="300"/></li>
            <li class="nav-item"><a class="nav-link" href="/animation/list">Animations</a></li>
            <li class="nav-item"><a class="nav-link" href="/spectacle/list">Spectacles</a></li>
            {# {% if is_granted('ROLE_ADMIN') %}                   
            <li class="nav-item"><a class="nav-link" href="/admin/blog/message/">Administration</a></li>
            {% endif %}
            {% if app.user %}
                <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
            {% else %}
                <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                <li class="nav-item"><a class="nav-link" href="/register">register</a></li>
            {% endif %} #}
        </ul>
    </h1>
        
    <div>CAROUSEL!!!</div>

    <div class="row">
            <div class="col-sm-4">
                <div class="gras fond1">QUI SOMMES-NOUS?</div>
                <div class="normal fond1">
                    </br>Proin venenatis nisl neque, ut dignissim quam auctor vitae.</br></br>
                    Sed ex risus, finibus a malesuada eget, rhoncus vel ligula. Nam sed vehicula lacus.</br></br>
                    Cras quis ultricies massa. Quisque ornare lacus sed consequat elementum. Cras tempus faucibus augue. 
                    Duis lorem urna, euismod eu augue nec, suscipit ultrices neque. Ut sagittis erat at fermentum commodo.Vivamus 
                    quis quam consequat, euismod turpis sed, viverra arcu. Suspendisse rhoncus lectus sit amet scelerisque fringilla.
                     Phasellus viverra, nisl at pharetra pretium, lacus elit luctus risus, at luctus lacus libero a diam.</br></br>
                     Quisque sagittis tortor eu sem interdum, ut malesuada odio consequat. Donec eu magna a est tincidunt placerat 
                     a vel ligula. Phasellus venenatis, magna vitae blandit feugiat, elit libero facilisis libero, sit amet bibendum 
                     magna metus id lacus. Pellentesque pulvinar justo sit amet nunc laoreet, blandit consectetur dolor.
                </div>
        </div>
        <div class="col-sm-4">
                <div class="gras fond2">AVORD</div>
                <div class="gras fond2"></br></div>
                <div class="fond2b"><img src={{asset('Pics/avord.jpg')}} height="150" width="400"/></div>
                <div class="normal fond2">
                    </br>Proin justo erat, egestas at vulputate et, pellentesque vitae lectus. Sed porttitor orci mi, et congue 
                    tellus sagittis vel. Nunc in sapien eget nulla ornare auctor auctor ut sem. Vestibulum commodo libero eget 
                    massa vulputate, a porta ante rutrum. Praesent nec consequat mi. In hac habitasse platea dictumst. Aliquam 
                    condimentum a magna quis sollicitudin. Morbi accumsan quam et rhoncus tempor.</br></br>
                    Sed sit amet enim auctor, luctus mauris eget, consectetur ipsum. In tristique, velit ac feugiat luctus,
                    urna erat dapibus ex, id fringilla nunc nulla vitae erat. Ut ultrices nulla turpis, id viverra purus sagittis vel.
                     Phasellus luctus sagittis lacus et posuere.
                </div>
        </div>
        <div class="col-sm-4">
                <div class="gras fond3">NOS AMBITIONS</div>
                <div class="normal fond3">
                    </br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum rutrum finibus nisl, vitae porttitor 
                    sem efficitur vel. Cras id dapibus lorem. Donec sed nulla imperdiet justo placerat fermentum sit amet vitae 
                    augue. Suspendisse eleifend ipsum magna, non finibus mauris dignissim consectetur. Sed laoreet nibh eget
                     risus tempus, aliquet vestibulum quam molestie. Maecenas vitae mollis urna. Duis quam lectus, 
                     faucibus quis enim eget, placerat laoreet neque. Ut pretium ex quis ex rutrum, sit amet aliquam 
                     elit iaculis. Proin commodo lorem bibendum neque posuere fermentum.</br></br> Sed augue risus, sollicitudin
                      eget scelerisque eget, eleifend sit amet enim. Vestibulum sit amet nisi vestibulum, porttitor tellus
                       luctus, rhoncus metus.</br></br>Aliquam id lacinia dolor, in varius quam.</br></br>Proin sapien purus, 
                       laoreet sed rutrum vitae, varius a dui. Maecenas vitae mollis urna. Maecenas vitae mollis urna.</br>
                </div>
        </div>
    </div>

    <div class="bandeaubleu row">
        <div class="col-sm-4">
            <a href="https://www.ville-avord.fr/"><img src={{asset('Pics/logo-Avord.png')}} height="100" width="350"/></a>
        </div>
        <div class="col-sm-4">
            <img src={{asset('Pics/label.jpg')}}  height="100" width="200"/>
        </div>
        <div class="col-sm-4">
            Suivez-nous:  <a href="https://www.facebook.com/AnimAvord/"><img src={{asset('Pics/fb.png')}} height="50" width="50"/></a>
        </div>
    </div>
        
    <ul class="nav bandeaubleu justify-content-sm-center">
        <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
        <li class="nav-item"><a class="nav-link" href="/espace_presse">Espace presse</a></li>
        <li class="nav-item"><a class="nav-link" href="/mentions_legales">Mentions légales</a></li>
        <li class="nav-item"><a class="nav-link" href="/cgu">Conditions générales d'utilisation</a></li>
        <li class="nav-item"><a class="nav-link" href="/pol_cookies">Politique cookies</a></li>
        <li class="nav-item"><a class="nav-link" href="/gest_cookies">Gestion cookies</a></li>
        <li class="nav-item"><a class="nav-link" href="/ppd">Politique de protection des données</a></li>
    </ul>

    <footer class="basdepage">@2021 - Tous droits réservés - Anim'Avord</footer>
{% endblock %}
